body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

header {
  width: 1280px;
  margin: 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .block-logo {
  height: 62px;
  margin-top: 23px;
  text-align: center;
  color: #404040;
  line-height: 19px;
}

header .block-logo h1 {
  margin: 0;
  font-family: 'Bebas Neue', cursive;
  font-weight: 700;
  font-size: 36px;
}

header .block-logo .title {
  margin: 0;
  font-family: Arial;
  font-size: 14px;
}

header nav .ul-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav .ul-nav li {
  list-style: none;
  height: 62px;
  padding: 23px 0px;
}

header nav .ul-nav li a {
  text-decoration: none;
  margin: 0px 15px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: #404040;
}

header nav .ul-nav li:hover {
  cursor: pointer;
  background-color: #d45e5e;
}

header nav .ul-nav li:hover a {
  color: #fff;
}

@media (max-width: 767px) {
  header {
    width: 100vw;
    display: block;
  }
  header .block-logo {
    width: 100vw;
    text-align: left;
    margin: 0;
    border-bottom: 1px solid #282828;
  }
  header nav {
    margin-top: 15px;
  }
  header nav .ul-nav {
    max-width: 767px;
    margin: 5px;
    padding: 0;
  }
  header nav .ul-nav li {
    text-align: left;
    height: 31px;
    padding: 3px 0px;
  }
  header nav .ul-nav li a {
    font-size: 14px;
  }
}

main {
  max-width: 900px;
  margin: 0 auto;
}

main .info-1 {
  background-color: #fff;
  max-width: 768px;
  margin: 100px auto 10px;
  text-align: center;
  -webkit-box-shadow: 3px 3px 6px gray;
          box-shadow: 3px 3px 6px gray;
  padding: 15px;
  z-index: 2;
}

main .info-1 .txt-1 {
  font-size: 100px;
  opacity: 0.21;
}

main .info-1 .txt-2 {
  font-size: 22px;
  color: #404040;
  font-style: italic;
  line-height: 36px;
}

main .exmp-s {
  position: relative;
}

main .exmp-s .block-img {
  background-color: #fff;
  text-align: center;
  position: absolute;
  top: 0%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}

main .exmp-s .title-prtf {
  display: inline-block;
  margin: 100px 10px 15px 10px;
  font-size: 22px;
  font-weight: 400;
  color: #404040;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: 2px;
}

main .exmp-s .block-exmp {
  max-width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .exmp-s .block-exmp .img-exmp {
  width: 205px;
  height: 208px;
  margin: 10px;
}

@media (max-width: 767px) {
  main .exmp-s .block-exmp .img-exmp {
    width: 105px;
    height: 108px;
  }
}

@media (max-width: 767px) {
  main .info-1 {
    margin: 50px auto 10px;
  }
}

footer {
  color: #fff;
  position: relative;
  max-width: 900px;
  min-height: 250px;
  margin: 160px auto 0px;
  background-color: #d45e5e;
}

footer .box-photo {
  position: absolute;
  top: -30%;
  left: 10%;
  display: inline-block;
  padding: 5px;
  background-color: #fff;
}

footer .box-name {
  position: absolute;
  top: 0;
  left: 26%;
  line-height: 35px;
  padding: 5px;
  font-weight: 400;
}

footer .contacts {
  position: absolute;
  top: 20px;
  right: 30%;
}

footer .contacts img {
  margin: 10px;
}

footer .txt-footer {
  position: absolute;
  left: 15px;
  bottom: 25px;
  width: 50%;
}

footer .box-skills {
  width: 40%;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

footer .box-skills .txt-skills {
  margin: 15px;
  font-weight: 600;
}

footer .box-skills .flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 5px 3px;
}

footer .box-skills .wrap {
  width: 90%;
  height: 15px;
  background-color: rgba(192, 192, 192, 0.507);
  border-radius: 5px;
}

footer .box-skills .level {
  height: 15px;
  border-radius: 5px;
  background-color: #282828;
}

footer .box-skills #ps {
  width: 42%;
}

footer .box-skills #ai {
  width: 65%;
}

footer .box-skills #bs {
  width: 35%;
}

footer .box-skills #cs {
  width: 67%;
}

@media (max-width: 767px) {
  footer {
    min-height: 470px;
  }
  footer .box-photo {
    top: -20%;
  }
  footer .box-name {
    left: 50%;
  }
  footer .contacts {
    top: 20%;
    right: 45%;
  }
  footer .txt-footer {
    border-top: 1px solid #fff;
    width: 90%;
    left: 10px;
    bottom: 33%;
  }
  footer .box-skills {
    width: 100%;
    right: 5px;
    bottom: 5px;
  }
}
