footer{
	color: #fff;
	position: relative;
	max-width: 900px;
	min-height: 250px;
	margin: 160px auto 0px;
	background-color: #d45e5e;
	.box-photo{
		position: absolute;
		top: -30%;
		left: 10%;
		display: inline-block;
		padding: 5px;
		background-color: #fff;
	}
	.box-name{
		position: absolute;
		top: 0;
		left: 26%;
		line-height: 35px;
		padding: 5px;
		font-weight: 400;
	}
	.contacts{
		position: absolute;
		top: 20px;
		right: 30%;
		img{
			margin: 10px;
		}
	}
	.txt-footer{
		position: absolute;
		left: 15px;
		bottom: 25px;
		width: 50%;
	}
	.box-skills{
		width: 40%;
		position: absolute;
		bottom: 10px;
		right: 10px;
		.txt-skills{
			margin: 15px;
			font-weight: 600;
		}
		.flex-box{
			display: flex;
			flex-wrap: nowrap;
			margin: 5px 3px;
		}
		.wrap{
			width: 90%;
			height: 15px;
			background-color: rgba(192, 192, 192, 0.507);
			border-radius: 5px;
		}
		.level{
			height: 15px;
			border-radius: 5px;
			background-color: #282828;
		}
		#ps{
			width: 42%;
		}
		#ai{
			width: 65%;
		}
		#bs{
			width: 35%;
		}
		#cs{
			width: 67%;
		}
	}
}

//------- @media ---------

@media (max-width: 767px) {
	footer{
		min-height: 470px;
		.box-photo{
			top: -20%;
		}
		.box-name{
			left: 50%;
		}
		.contacts{
			top: 20%;
			right: 45%;
		}
		.txt-footer{
			border-top: 1px solid #fff;
			width: 90%;
			left: 10px;
			bottom: 33%;
		}
		.box-skills{
			width: 100%;
			right: 5px;
			bottom: 5px;
		}
	}
}