main{
	max-width: 900px;
	margin: 0 auto;
	.info-1{
		background-color: #fff;
		max-width: 768px;
		margin: 100px auto 10px;
		text-align: center;
		box-shadow: 3px 3px 6px gray;
		padding: 15px;
		z-index: 2;
		.txt-1{
			font-size: 100px;
			opacity: 0.21;
		}
		.txt-2{
			font-size: 22px;
			color: #404040;
			font-style: italic;
			line-height: 36px;
		}
	}
	.exmp-s{
		position: relative;
		.block-img{
			background-color: #fff;
			text-align: center;
			position: absolute;
			top: 0%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: -1;
		}
		.title-prtf{
			display: inline-block;
			margin: 100px 10px 15px 10px;
			font-size: 22px;
			font-weight: 400;
			color: #404040;
			font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
			letter-spacing: 2px;
		}
		.block-exmp{
			max-width: 900px;
			display: flex;
			flex-wrap: wrap;
			.img-exmp{
				width: 205px;
				height: 208px;
				margin: 10px;
			}
				//-------- @Media ============
	
			@media (max-width: 767px) {
				.img-exmp{
					width: 105px;	
					height: 108px;
				}
			}		
		}
	}
}

//-------- @media -------
@media (max-width: 767px) {
	main{
		.info-1{
			margin: 50px auto 10px;
		}
	}
}