body{
margin: 0;
padding: 0;
min-width: 100%;
min-height: 100%;
}
*,
*::before,
*::after {
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

@import './header';

@import './main';

@import './_footer';